

.card {
    min-height: 450px; /* Altura mínima dos cards para ficarem quadrados */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 100% !important;
    max-height: 350px !important; /* Ajusta o tamanho máximo dos gráficos */
}


/* Cor verde para status PAGO */
		    #basic-datatables tbody tr.status-pago {
		        background-color: #d4edda !important; 
		    }
		    #basic-datatables tbody tr.status-pago td {
		        background-color: #d4edda !important; 
		    }

		    /* Cor vermelha para status PENDENTE */
		    #basic-datatables tbody tr.status-pendente {
		        background-color: #f8d7da !important;
		    }
		    #basic-datatables tbody tr.status-pendente td {
		        background-color: #f8d7da !important;
		    }

		    /* Cor amarela para status PARCIAL */
		    #basic-datatables tbody tr.status-parcial {
		        background-color: #fff3cd !important;
		    }
		    #basic-datatables tbody tr.status-parcial td {
		        background-color: #fff3cd !important;
		    }

			/* Remove a cor cinza do DataTables */
			#basic-datatables tbody tr.selected-row {
			    background-color: inherit !important; /* Mantém a cor base */
				font-weight: bold !important; /* Texto em negrito */
			}

			/* Se a linha for selecionada, ela mantém a cor do status, mas um tom mais escuro */
			#basic-datatables tbody tr.status-pago.selected-row {
			    background-color: #8fc58f !important; /* Verde mais escuro */
			}

			#basic-datatables tbody tr.status-pendente.selected-row {
			    background-color: #e57373 !important; /* Vermelho mais escuro */
			}

			#basic-datatables tbody tr.status-parcial.selected-row {
			    background-color: #ffbf47 !important; /* Amarelo mais escuro */
			}

			#basic-datatables tbody tr.frete-zero.selected-row {
			    background-color: #d673d6 !important; /* Rosa mais escuro */
			}

			/* Garante que todas as células acompanhem a cor da linha */
			#basic-datatables tbody tr.selected-row td {
			    background-color: inherit !important;
			}

			
			

/* Footer Container */
.footer-container {
    background-color: #2a2f5b; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    padding: 40px 20px; /* Espaçamento */
}

/* Footer Logo */
.footer-logo {
    max-width: 150px; /* Tamanho da logo */
    margin-bottom: 15px;
}

/* Footer Text */
.footer-text {
    font-size: 14px;
    color: #dcdcdc;
    margin: 5px 0;
}

/* Footer Heading */
.footer-heading {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Footer Links */
.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: #dcdcdc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f1c40f; /* Cor ao passar o mouse */
}

/* Footer Contact */
.footer-contact {
    list-style: none;
    padding: 0;
}

.footer-contact li {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-contact i {
    color: #f1c40f; /* Ícones dourados */
    margin-right: 8px;
}

/* Footer Divider */
.footer-divider {
    border-top: 1px solid #ffffff;
    margin: 20px 0;
    opacity: 0.2;
}

/* Footer Copyright */
.footer-copyright {
    font-size: 12px;
    color: #dcdcdc;
    margin: 0;
}
