<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar" class="sidebar" data-background-color="dark">
	<div class="sidebar-logo">
		<!-- Logo Header -->
		<div class="logo-header" data-background-color="dark">
			
				<a href="/" class="logo">
                    <img
                        th:src="@{/assets/img/logo_transparente_branco.png}"s
                        alt="MxM Cimentos" 
                        class="navbar-brand"
                        height="20"
                    />
                </a>
				
			<a th:href="@{/orcamentos/listar}" style="color: white;" class="navbar-brand"></a>
			<div class="nav-toggle">
				<button class="btn btn-toggle toggle-sidebar">
					<i class="gg-menu-right"></i>
				</button>
				<button class="btn btn-toggle sidenav-toggler">
					<i class="gg-menu-left"></i>
				</button>
			</div>
			<button class="topbar-toggler more">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
		<!-- End Logo Header -->
	</div>
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-secondary">
			    <!-- Dashboard -->
			    <li class="nav-item active">
			        <a th:href="@{/dashboard}">
			            <i class="fas fa-tachometer-alt"></i>
			            <p>Dashboard</p>
			        </a>
			    </li>

			    <!-- Section Header -->
			    <li class="nav-section">
			        <span class="sidebar-mini-icon">
			            <i class="fa fa-ellipsis-h"></i>
			        </span>
			        <h4 class="text-section">Menu</h4>
			    </li>

			    <!-- Relatórios -->
			    <li class="nav-item">
			        <a th:href="@{/relatorios}">
			            <i class="fas fa-chart-line"></i>
			            <p>Relatórios</p>
			        </a>
			    </li>

			    <!-- Orçamentos 
			    <li class="nav-item">
			        <a th:href="@{/orcamento}">
			            <i class="fas fa-file-invoice-dollar"></i>
			            <p>Orçamentos</p>
			        </a>
			    </li>
				-->
			    <!-- Pedidos -->
			    <li class="nav-item">
			        <a th:href="@{/pedido/listar}">
			            <i class="fas fa-shopping-cart"></i>
			            <p>Pedidos</p>
			        </a>
			    </li>

			    <!-- Termo -->
			    <li class="nav-item">
			        <a th:href="@{/termo}">
			            <i class="fas fa-file-contract"></i>
			            <p>Termo</p>
			        </a>
			    </li>

			    <!-- Clientes -->
			    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
			        <a th:href="@{/clientes}">
			            <i class="fas fa-users"></i>
			            <p>Clientes</p>
			        </a>
			    </li>
				
				<!-- Clientes -->
			    <li class="nav-item">
			        <a th:href="@{/emprestimos}">
			            <i class="fas fa-users"></i>
			            <p>Emprestimos</p>
			        </a>
			    </li>

			    <!-- Preços de Cimento -->
			    <li class="nav-item">
			        <a th:href="@{/preco/listar}">
			            <i class="fas fa-dollar-sign"></i>
			            <p>Preços Cimento</p>
			        </a>
			    </li>
			</ul>

		</div>
	</div>
</div>

</html>