<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Negado</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-96 text-center">
        <h2 class="text-2xl font-semibold text-red-600">Acesso Negado</h2>
        <p class="mt-4 text-gray-700">Você não tem permissão para acessar esta página.</p>
        
        <a th:href="${destinoDashboard}"
           class="mt-6 inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg">
            Voltar para o Dashboard da Licitação
        </a>
    </div>
</body>
</html>
